<<<<<<< HEAD:style.css
@font-face {
    font-family: "Oleo";
    src: url(./fonts/Oleo.ttf);
}

body {
    background-color: #0d0d0d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header {    
    background-image: linear-gradient(#5DADE2, hsl(261, 100%, 85%));
    text-align: center;
    border-radius: 3px;
    margin: 0%;
}

h1 {
    Margin-bottom: 8px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.582);
}

section {
    margin: 0px;
    padding: 20px;
    background-image: url('./assets/people.jpg');
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 2px black;
}

.container {
    background-color: #ffffff91;
    padding: 10px;
}

.freetext {
    margin: auto;
    max-width: 335px;
    color: white;
    text-align: left;
    
}

.mindw {
    color: rgb(255, 217, 0);
    font-family: "Oleo";
    font-size: 20px;    
}

.subt {
    text-align: center;
}

input, select {
    width: 75%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;   
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(./assets/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
}

footer {
    margin-top: 8px;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #17202A  ;
    background-size: cover;
}

.Erick {
    border-style: solid;
    border-color: rgb(198, 218, 255);
    border-radius: 50%;
    width: 200px;   
}

@media screen and (min-width: 503px) {
   
    body {
        max-width: 1000px;
        margin: auto;       
    }

    .container {
        max-width: 280px;
    }

    input, select {
        width: 100%;    
    }

    .description {
        display: inline-block;        
        max-width: 40%;
        margin-left: 40px;
        text-align: left;
    }   

=======
@font-face {
    font-family: "Oleo";
    src: url(./fonts/Oleo.ttf);
}

body {
    background-color: #0d0d0d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header {    
    background-image: linear-gradient(#5DADE2, #b48cff);
    text-align: center;
    border-radius: 3px;
    margin: 0%;
}

h1 {
    Margin-bottom: 8px;
}

section {
    margin: 0px;
    padding: 20px;
    background-image: url('./assets/people.jpg');
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 2px black;
}

.container {
    background-color: #ffffff91;
    padding: 10px;
}

.freetext {
    margin: auto;
    max-width: 335px;
    color: white;
    text-align: left;
    
}

.mindw {
    color: rgb(255, 217, 0);
    font-family: "Oleo";
    font-size: 20px;    
}

.subt {
    text-align: center;
}

input, select {
    width: 75%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;   
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(./assets/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
}

footer {
    margin-top: 8px;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #17202A  ;
    background-size: cover;
}

.Erick {
    border-style: solid;
    border-color: rgb(198, 218, 255);
    border-radius: 50%;
    width: 200px;   
}

@media screen and (min-width: 503px) {
   
    body {
        max-width: 1000px;
        margin: auto;       
    }

    .container {
        max-width: 280px;
    }

    input, select {
        width: 100%;    
    }

    .description {
        display: inline-block;        
        max-width: 40%;
        margin-left: 40px;
        text-align: left;
    }   

>>>>>>> abe0cdb11f89821320b84828a0587df9041fdfc9:mastermind/style.css
}